header
    div.left
    ul.top-menu
        li
            a(id='services' href='..') услуги
        li
            a.open-callback(href='#price-form') стоимость
        li
            a(href='..')
              img(src='img/logo.gif')
        li
            a(id='warranty', href='garant.html') гарантия
        li
            a.open-callback(href='#contact-form') контакты
    div.right
        .phone-text Специалист в сети
        .phone +7 495 744 77 03