.modal-form#square-form
    .form-order-wrapper
        .btn-close
        .inner-text
            .text-head
                | Рекомендуемая площадь при проектирование
                br
                | смотровых, врачебных и рентген кабинетов
            .text.text-left
                ul
                    li кабинет врача-терапевта - 12 кв.м
                    li кабинет офтальмолога -18 кв.м (длина не менее 6 м)
                    li кабинет предрейсовых/ после рейсовых осмотров -12 кв.м
                    li кабинет психолога - 12 кв. м
                    li хирургический кабинет + манипуляционная 12 кв.м+12 кв.м
                    li манипуляционная - 12 кв. м
                    li кабинет педиатра – 15 кв.м
                    li кабинет врача-гинеколога без гинекологического кресла - 10 кв. м
                    li смотровой кабинет врача-гинеколога с креслом- 18 кв.м
                    li кабинет врача-гинеколога с ультразвуковой установкой и гинекологическим креслом - 18 кв.м
                    li кабинет рефлексотерапии (кабинет врача - 12 кв.м; процедурная со стерилизационной - 6 кв.м на место, но не менее 14 кв.м+4 кв.м
                    li кабинет ультразвуковых исследований - 14 кв.м
                    li кабинет массажа 9 кв.м (допускается без окна)
                    li кабинет рентгенодиагностики заболеваний зубов методом рентгенографии (дентальным аппаратом)- 6 кв.м
                    li кабинет рентгенодиагностики методом панорамной рентгенографии или панорамной томографии – 8 кв.м
                    li кабинет врача косметолога 12 кв.м (дополнительно: + манипуляционная 12 кв.м+ процедурная 12 кв.м)


.modal-form#egrp-form
    .form-order-wrapper.wide
        .btn-close
        .inner-text
            .text-head
                | ЕГРП
            .text.text-left
                | На основании Федерального закона № 360-ФЗ от 03 июля 2016 года (статья 2) с 15 июля 2016 года вступает в силу норма об изменении Федерального закона от 21 июля 1997 № 122-ФЗ «О государственной регистрации прав на недвижимое имущество и сделок с ним», на основании которой государственная регистрация возникновения и перехода прав на недвижимость будет удостоверяться только выпиской из Единого государственного реестра прав на недвижимое имущество и сделок с ним (ЕГРП). То есть, простыми словами, свидетельства о праве собственности в бумажном виде больше выдаваться не будут, это касается и повторной выдачи таких свидетельств.
                | Выписка из ЕГРП выдается как в бумажной, так и в электронной форме. Форма выписки из ЕГРП, удостоверяющей проведенную государственную регистрацию прав, утверждена приказом Минэкономразвития России. Устанавливающая проведенную государственную регистрацию прав выписка из ЕГРП – это документ, который подтверждает факт проведения такой государственной регистрации и наличие в ЕГРП указанных в ней сведений, в том числе о правообладателе, объекте недвижимости, зарегистрированном в соответствующий день под соответствующим номером праве, правоустанавливающих документах – основаниях для регистрации права, на дату, указанную в ней в качестве даты выдачи. При этом, согласно законодательству, только запись о государственной регистрации права в ЕГРП является единственным доказательством существования зарегистрированного права.



.modal-form#dogovor-form
    .form-order-wrapper.wide
        .btn-close
        .inner-text
            .text-head
                |Обязательные договора для получения СЭЗ
            .text.text-left
                |         1. Программа производственного контроля (ППК);<br>
                |         2  Договор с спец. организацией на выполнение программы производственного контроля (обычно с ФФБУЗ);<br>
                |         3  Протоколы лабораторно-инструментальных исследований из ФФБУЗ (либо спец. организации);<br>
                |         4. Приказ о назначении ответственного по выполнению ППК;<br>
                |         5. Договор на дезинфекцию, дезинсекцию и дератизацию;<br>
                |         6. Документы на все  дез. средства, кожные антисептики (паспорт, регистрационное удостоверение, сертификат соответствия);<br>
                |         7. Расчет расходования дез.средств;<br>
                |         8. Схема по обращению с отходами (в кг. для стоматологий);<br>
                |         9. Инструкция по обращению с отходами;<br>
                |         10. Приказ о назначении ответственного по обращению с отходами;<br>
                |         11. Договор на вывоз и утилизацию отходов класса А,В  (медицинские отходы);<br>
                |         12. Договор на вывоз и утилизацию отходов класса Г (ртутные лампы);<br>
                |         13. Договор на вывоз твердо-бытовых отходов (ТБО);<br>
                |         14. Договор на стирку спец. одежды (медицинских халатов);<br>
                |         15. Договор на обслуживание вентиляционной системы;<br>
                |         16. Договор на очистку и дезинфекцию вентиляции;<br>
                |         17.Акт проверки эффективности вентиляционной системы;<br>
                |         18.Проект (схема) вентиляционной системы;<br>
                |         19. Документы (паспорт, регистрационное удостоверение, сертификат соответствия) на стерилизаторы (сухожаровой шкаф, автоклав);<br>
                |         20. Договор на обслуживание стерилизаторов;<br>
                |         21. Документы (паспорт, регистрационное удостоверение, сертификат соответствия) на медоборудование (мебель, медицинский инструментарий и т.д.);<br>
                |         22.Документы на врачей (Диплом, Сертификат);<br>
                |         23.Медкнижки с прививками (данные по прививкам);<br>
                |         24.Журнал генеральных уборок;<br>
                |         25.Журнал учета работы стерилизатора;<br>
                |         26.Журнал учета работы бактериальных облучателей;<br>
                |         27.Журнал по обращению с отходами;<br>
                |         28.Журнал по обращению с дез. средствами;<br>
                |         30.Журнал по выполнению ППК;<br>
                |         31.Журнал учета мероприятий по контролю;<br>
                |         32.Журнал аварийных ситуаций;<br>
                |         33. Журнал контроля температурного режима (при наличии оборудования).

