<div class="timer-container">
    <span id="imageLayout">
        <span>
            <span class="image{d10}"></span>
            <span class="image{d1}"></span><br>
            <span class="label">{dl}</span>
        </span>
        <span class="imageSpace"></span>
        <span>
            <span class="image{h10}"></span>
            <span class="image{h1}"></span><br>
            <span class="label">{hl}</span>
        </span>
        <span class="imageSpace"></span>
        <span>
            <span class="image{m10}"></span>
            <span class="image{m1}"></span><br>
            <span class="label">{ml}</span>
        </span>
        <span class="imageSpace"></span>
        <span>
            <span class="image{s10}"></span>
            <span class="image{s1}"></span><br>
            <span class="label">{sl}</span>
        </span>
    </span>
</div>
