extends ../../includes/_layout
//include ../../includes/_modals_work.jade

block vars
    - TITLE = ''
    - META_DESCRIPTION = ''
    - META_KEYWORDS = ''
    - PAGE_ID = 'index'
    - VERSION_NAME = ''
    meta(name='viewport', content='width=768')

block body

    .container
        .page-content.service-page
            h1 Лицензирование стоматологической деятельности
                span (на территории Москвы и Московской обл.)

            .description
                b Стоматологический кабинет (центр)
                | - понятие условное: чаще всего под ним подразумевается лечебно-профилактическое учреждения,  основной  деятельностью  которого является оказания частичного или полного спектра стоматологических услуг от диагностики до проведения лечения, протезирование  и др. Стоматологический  кабинет может находиться как в структуре
                |медицинского учреждения, так и обособленно, как  самостоятельное учреждение. Существует большой спектр стоматологических услуг:
                ul(style='margin-left: 60px;')
                    li - лечение зубов (терапия)
                    li - удаление зубов (хирургия)
                    li - протезирование зубов (ортопедия)
                    li - лечение десен (пародонтология)
                    li - исправление прикуса и неправильного расположения зубов (ордонтия)
                    li - установка штифта в челюстную кость/импланта (имплатология)
                    li - отбеливание зубов

                br
            a.link.open-callback(href='#square-form') Рекомендуемая площадь при проектирование смотровых, врачебных и рентген кабинетов

            .scheme
                .scheme-header Схема лицензирование
                    span (при наличии существующего или предполагаемого помещения)

                .step
                    .head
                        span Шаг 1.
                        | Экспертиза помещения и документов на соответствие СанПиН и лицензионных требований

                    .from
                        b От Заказчика (сканы):
                        ol
                            li Свидетельство о государственной регистрации права собственности или &nbsp;
                                a.link.open-callback(href='#egrp-form') ЕГРП;
                            li План БТИ или план - схема помещения с указанием назначения помещений;
                            li СЭЗ, либо перечень заявляемых видов деятельности согласно
                                a.link(href='https://localhost/medstart.ru/htdocs/www/law/law-121n.php', target='_blank') Приказа Минздрава РФ 121н от 11 марта 2013 г.
                            li Фото кабинетов, если нет СЭЗ;
                            li Список существующего или предполагаемого к закупки оборудования

                    .prim
                        b Примечание.
                        |Услуга предоставляется бесплатно (дистанционно). С выездом  (Москва/Московская обл.) 5 000 руб.

                .step
                    .head
                        span Шаг 2.
                        | Заключение договора на оформление СЭЗ

                .step
                    .head
                        span Шаг 3.
                        | Согласование  заявления для подачи в ТУ Роспотребнадзора

                    .from
                        b От Заказчика (сканы):
                        ol
                            li Устав (с изменениями и дополнениями);
                            li Свидетельство о госрегистрации юридического лица (ОГРН);
                            li Свидетельство о постановке на учет в налоговом органе (ИНН/КПП);
                            li Выписка из Единого государственного  реестра юридического лица (для Москвы);
                            li Договор аренды (+субаренды) + Акт приема - передачи помещения;
                            li Свидетельство о государственной регистрации права собственности;
                            li Приказ о назначение ген. директора и главного бухгалтера;
                            li
                                a.link.open-callback(href='#dogovor-form')  Санитарные договора
                                | &nbsp;(если есть);
                            li Медицинские книжки на персонал (если есть);
                            li Скан печати на чистом листе
                    .snos
                        |1 - все приложения указанные в договоре аренды
                        br
                        |2 - либо приказ о совмещение должностей

                .step
                    .head
                        span Шаг 4.
                        | Подача документов в ТУ Роспотребнадзора

                .step
                    .head
                        span Шаг 5.
                        | Выездная экспертиза помещения и документов представителем ТУ Роспотребнадзора

                    .from
                        b Территориальные управления Роспотребнадзора:
                        br
                        a.link(target='_target', href='http://mosgorzdrav.ru/ru-RU/department/gosuslugi/licensing.html') - Москва
                        br
                        a.link(target='_target', href='http://mz.mosreg.ru/dokumenty/napravleniya_deyatelnosti/licenzirovanie') - Московская обл.

                .step
                    .head
                        span Шаг 6.
                        | Получение бланка СЭЗ

                .step
                    .head
                        span Шаг 7.
                        | Заключение договора на оформление лицензии

                .step
                    .head
                        span Шаг 8.
                        |Экспертиза документов, выявления замечаний

                    .from
                        b От Заказчика (сканы):
                        ol
                            li Устав (с изменениями и дополнениями);
                            li Свидетельство о государственной регистрации юридического лица (ОГРН);
                            li Свидетельство о постановке на учет в налоговом органе (ИНН/КПП);
                            li Приказ о назначение  руководителя и гл. бухгалтера;
                            li Платежное поручение:
                                ul
                                    li - 7 500 руб. за предоставление лицензии на осуществление  деятельности;
                                    li - 3 500 за переоформление (расширение вида/ов деятельности)
                            li Договор аренды  + Акт приема - передачи помещения;
                            li Свидетельство о государственной регистрации права собственности или
                                a.link.open-callback(href='#egrp-form') ЕГРП;
                            li План БТИ (если есть);
                            li СЭЗ;
                            li Перечень медицинского оборудования;
                            li РУ- регистрационные удостоверения на медицинское оборудование, инструментарий и медицинскую мебель;
                            li Документы на специалиста (ов):
                                ul
                                    li а) диплом о базовом (высшем/среднем) медицинском образовании;
                                    li б) специализация (ординатура и/или интернатура, диплом (ы) о профессиональной переподготовке);
                                    li в) усовершенствование (сертификат(ы), свидетельство(а), диплом о переподготовки повышения квалиф.;
                                    li г) приказы о назначении на должность;
                                    li д) трудовые договора (в Word);
                                    li е) паспортные данные (в Word)
                            li Документы на руководителя (заместителя) структурного подразделения, ответственного за мед/деятельность:
                                ul
                                    li а) трудовая книжка;
                                    li диплом;
                                    li в) сертификат специалиста по специальности "Организация здравоохранения и общественное здоровье"

                    .snos
                        | 1 - либо приказ о совмещение должностей
                        br
                        | 2 - все приложения указанные в договоре аренды
                        br
                        | 3 - в случае отсутствия оборудования, согласно стандарта оснащения - предоставляется услуга по его поиску, в т.ч. в аренду
                        br
                        | 4 - обучение или предоставление дипломированных специалисты- индивидуально

                .step
                    .head
                        span Шаг 9.
                        | Оформление пакета документов

                .step
                    .head
                        span Шаг 10.
                        | Согласование документов (для подачи в орган лицензирования):

                    .from
                        b Документы:
                        ol
                            li Заявление;
                            li Перечень заявляемых работ (услуг) для осуществления медицинской деятельности;
                            li Сведения о наличии медицинских изделий (оборудования, аппаратов, приборов, инструментов), необходимых для выполнения заявляемых работ (услуг);
                            li Выписка из балансовой ведомости по имуществу медицинской организации.
                .step
                    .head
                        span Шаг 11.
                        | Подача документов в орган лицензирования
                    .from
                        b Органы:
                        ul
                            li - Москва
                                a.link(href='http://mosgorzdrav.ru/ru-RU/department/gosuslugi/licensing.html', target='_blank') - Департамент здравоохранения г. Москвы
                            li - Московская обл.
                                a.link(href='http://mz.mosreg.ru/dokumenty/napravleniya_deyatelnosti/licenzirovanie', target='_blank') - Министерство здравоохранения Московской обл.
                            li - Организации подведомственные федеральным органом исполнительной власти
                                a.link(href='http://www.roszdravnadzor.ru/', target='_blank') - Росздравнадзор
                            li - Территориальные управления
                                a.link(href='http://www.roszdravnadzor.ru/about/structure/territorial', target='_blank') - Росздравнадзор

                .step
                    .head
                        span Шаг 12.
                        | Выездная экспертиза помещения и документов представителем органа лицензирования
                    .from
                        b От Заказчика:
                        |- оборудования согласно стандарта оснащения;
                        br
                        |- документы на специалистов

                .step
                    .head
                        span Шаг 13.
                        | Получение бланка лицензии
                    .from
                        b Документы:
                        br
                        |- директор: приказ о назначение на должность директора, паспорт, печать;
                        br
                        | - доверенное лицо: доверенность, паспорт

                .links
                    b Нормативно-правовые акты:
                    a(href='https://localhost/medstart.ru/htdocs/www/law/law-99.php', target='_blank') §	Федеральный закон Российской Федерации от 4 мая 2011 г. N 99-ФЗ "О лицензировании отдельных  видов деятельности"
                    a(href='https://localhost/medstart.ru/htdocs/www/law/resolution-291.php', target='_blank') §	Постановление правительства РФ от 16 апреля 2012 г. № 291 «О лицензирование медицинской деятельности»
                    a(href='http://base.garant.ru/12177989/', target='_blank') §	Постановление Главного государственного санитарного врача РФ от 18 мая 2010 г. N 58 "Об утверждении СанПиН 2.1.3.2630-10  "Санитарно-эпидемиологические требования к организациям, осуществляющим медицинскую деятельность"
                    a(href='', target='_blank') §	Порядок оказания медицинской помощи
                    a(href='http://docs.cntd.ru/document/902166076', target='_blank') §	Приказ Минздравсоцразвития России № 415н от 7 июля 2009 г. "Об утверждении квалификационных требований к специалистам   c  высшим и  послевузовским медицинским и фармацевтическим образованием в сфере здравоохранения

                .bottom-text Представленный перечень документов не является исчерпывающим- в каждом конкретном случае лицензионные требования могут иметь   особенности в зависимости от вида деятельности, квалификации персонала, используемого оснащения, занимаемых помещений и др.








