.hide {display: none;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.text-left {text-align: left;}
.uppercase { text-transform: uppercase; }

.placeholder { color: #8e8e8e!important; }
.open-callback {}



.c-art { border-bottom: 1px solid #797979; }
.c-art:hover { border-bottom: 1px solid #3b3b3b; }
.c-art span { }