extends ../includes/_layout

block vars
    - TITLE = ''
    - META_DESCRIPTION = ''
    - META_KEYWORDS = ''
    - PAGE_ID = 'index'
    - VERSION_NAME = ''
    meta(name='viewport', content='width=768')

block body

    .container

        .page-content.garant-page
            | «MedStart.ru» создан группой компаний для оказания юридического и организационного сопровождения бизнес - проектов  участников медицинского, фармацевтического рынков в органах исполнительной власти.
            br
            | Деятельность
            a.open-callback.link(href='#team-form') группы&nbsp;
            | признана высокопрофессиональной и подтверждается многочисленными Клиентами (См. ниже).
            br
            br
            | Клиенты (выборочно):

            //| Портал «MedStart.ru» создан группой компаний для оказания юридического и организационного сопровождения бизнес - проектов  участников медицинского, фармацевтического рынков в органах исполнительной власти.
            //br
            //| Деятельность участников признана высокопрофессиональной и подтверждается многочисленными Клиентами (См. ниже).
            //br
            //| Юридический гарант:
            //a.open-callback.link(href='#expert-form') Экспертно-правовой центр «Линия защиты»
            //br
            //a.open-callback.link(href='#team-form') Команда
            //br
            //| Клиенты (выборочно):
            .clients
                span ТТЦ Останкино
                span РАО РЖД
                span ПАО Газпром (Геленджик)
                span Интермедсервис
                span Старый Лекарь (сеть аптек)
                span МОРОН
                span ЛИТЕХ
                span Группа компаний МФМК
                span Московская Медицинская Лизинговая Компания
                span Центр Д-ра Бубновского  (Мытищи, Сергеев-Посад, Королев)
                span Фармацевтическая компания "Полло" (Курган)
                span АЛКЕМИ ФАРМА
                span МРТ Азбука здоровья
                span Центр гомотоксикологии и биомедицины
                span ИИНВЕКО Холдинг (сеть салонов оптики)
                span Группа компаний МОРТОН
                span Аконит
                span Аксон (Томск)
                span Институт клинической реабилитологии (Тула)
                span ООО «Поликлиника №1» (Одинцово)
                span Русинфарм (Воронеж)
                span Шишкин лес
                span Здравипэкс
                span Омега-Север (Тюмень)
                span Медицинский центр ЦРЧ
                span МЦ Доктора Зайсанова
                span МосМедТранс
                span РОСМЕДИЦИНА
                span Центр Медицины и Реабилитации
                span МЦ ОТТАМЕД
                span Лаборатория СИЛЕНА
                span Медицинский центр помощи семье
                span Салон красоты "Виртуоз"
                span Салон красоты «Шарами Бьюти»
                span Салон красоты Brow & Beauty
                span Салон красоты «Амулет»
                span Салон красоты СКАЙ ЭСТЕТ
                span КУАФЁР Е.С.
                span Лаборатория гладкой кожи
                span Империя Энд Бьюти СПА (Красногорск)
                span Thai Pattara Spa
                span Cellulai
                span ВоркСити (Сеть салонов красоты)
                span Нейропрофи (Королев)
                span «Клиника «Династия" (Павловская Слобода)
                span Международная корпорация BRUKER
                span Pharmtеch & Ingredients
                span Rus Medical Tehnology
                span Integralab
                span ДиСиЭйчКлиник
                span Клиника «Лама»
                span Центр детского зрения «Илария» (Новосибирск)
                span ЭкоМед (Одинцово)
                span Уникмедик (Мытищи)
                span ДОЛ Лагерь «Дружба» им. В.В.Ливанова ОАО "ИЛ"
                span Институт Здоровья
                span Медицинский центр «Консилиум»
                span Медицинский центр «Элегия»
                span Тату-Хайтэк
                span ТАТУмания
                span Салон пирсинга и татуировки «Сфинкс»
                span Норд клиник (Дмитров)
                span Меди Технолоджи (Дубна)
                span "Мед+Эксперт" (Дубна)
                span Клиника семейной медицины (Королев)
                span Одинцовское предприятие автомобильного транспорта
                span Нано-Техно-Дент
                span Дельфин Дент (Долгопрудный)
                span КОРУ-ДЕНТ (Красногорск)
                span Медицинский центр «КОСМО-ДЕНТ»
                span Экосодействие
                span МЦ Изумрудный (Балашиха)
                span Улыбка (Щелково)
                span ДельтаЛабКлиника (Балашиха)
                span Экотель Снегирёк (Истра)
                span Центр мира
                span Салон красоты Royal Beauty (Домодедово)
                span Оптима (Королев)
                span МЦ Диамед
                span Дентикул (Люберцы)
                span Орис Лаб (Ивантеевка)
                span БорисоффЛаб (Красногорск)
                span Территория здоровья
                span МЦ восстановления и лечения «РЕАБИ» (Долгопрудный)
                span Зубная клиника доктора Яновского 
                span Резуслаб плюс  (Мытищи)
                span МедЦентр-Мос
                span Салона тайского массажа ROYAL THAI
                span ВрачЪ (Солнечногорск)
                span МЦ Правильное лечение
                span Центра Гомеопатии и педиатрии (Химки)
                span "Московский центр вакцинопрофилактики и педиатрии"
                span ДантистЪ (Сергиев-Посад)
                span МЦ Гармония (Сергиев-Посад)
                span Биомедцентр (Люберцы)
                span Лана-мед (Балашиха)
                span НПО «Конкорд-СК» (Тольятти)







