extends ../includes/_layout

block vars
    - TITLE = ''
    - META_DESCRIPTION = ''
    - META_KEYWORDS = ''
    - PAGE_ID = 'index'
    - VERSION_NAME = ''
    meta(name='viewport', content='width=768')

    //script(language="JavaScript", type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHhMQCpvQDsPBlyj3e8vbSU2hmLGHzEJ4")

block body

    .container

        .center-text
            .head
                | СОПРОВОЖДЕНИЕ БИЗНЕС ПРОЕКТОВ
                br
                | УЧАСТНИКОВ МЕДИЦИНСКОГО, ФАРМАЦЕВТИЧЕСКОГО РЫНКОВ
                br
                | В ОРГАНАХ ИСПОЛНИТЕЛЬНОЙ ВЛАСТИ
            .line
            .text Работаем с 2004 года



        .first-screen
            .text
                | СОПРОВОЖДЕНИЕ БИЗНЕС ПРОЕКТОВ
                br
                | УЧАСТНИКОВ МЕДИЦИНСКОГО, ФАРМАЦЕВТИЧЕСКОГО РЫНКОВ
                br
                | В ОРГАНАХ ИСПОЛНИТЕЛЬНОЙ ВЛАСТИ


        .second-screen
            .select-service Выберите услугу
            .main-menu
                a.toggle Лицензирование
                .sub-menu
                    a.toggle ●&nbsp;&nbsp;&nbsp;&nbsp;Медицинская деятельность
                    .sub-menu.l2
                        a(href='') -  медицинский кабинет
                        a(href='medical-center.html') -  медицинский центр
                        a(href='') -  стоматологиsя
                        a(href='') -  рентгенология
                        a(href='') -  зуботехническая лаборатория
                        a(href='') -  косметология (салон красоты)
                        a(href='') -  медицинский массаж
                        a(href='') -  предрейсовые, после рейсовые осмотры
                        a(href='') -  офтальмология/оптометрия (салон оптики)
                        a(href='') -  предварительные, периодические осмотры
                        a(href='') -  пластическая хирургия
                        a(href='') -  скорая медицинская помощь
                        a(href='') -  переоформление бланка лицензии

                    a.toggle ●&nbsp;&nbsp;&nbsp;&nbsp;Фармацевтическая деятельность
                    .sub-menu.l2
                        a(href='') - интернет аптека
                        a(href='') - аптечный киоск
                        a(href='') - аптечный пункт
                        a(href='') - аптека готовых лекарственных форм
                        a(href='') - производственная аптека
                        a(href='') - оптовая фармацевтическая деятельность
                        a(href='') - деятельность по обороту наркотических средств, психотропных веществ
                        a(href='') - переоформление бланка лицензии

                     a(href='') ●&nbsp;&nbsp;&nbsp;&nbsp;Производство лекарственных средств
                     a(href='') ●&nbsp;&nbsp;&nbsp;&nbsp;Деятельность по производству и техническому обслуживанию медицинской техники
                     a(href='') ●&nbsp;&nbsp;&nbsp;&nbsp;Деятельность в области использования источников ионизирующего излучения

                a.toggle(href='') Регистрация лекарственных средств
                .sub-menu.l2
                    a(href='') - Регистрация лекарственных средств
                    a(href='') - Доклинические исследования лекарственных средств
                    a(href='') - Клинические исследования лекарственных средств

                a(href='') Регистрация медицинской техники

                a.toggle Санитарно - эпидемиологическое заключение
                .sub-menu.l2
                    a(href='') - на медицинскую деятельность
                    a(href='') - на ИИИ (источники ионизирующего излучения)

                a.toggle Лицензия на продажу алкогольной продукции
                .sub-menu.l2
                    a(href='') - на розничную продажу алкогольной продукции (магазин, бар, ресторан)
                    a(href='') - на закупки, хранение и поставки алкогольной продукции (субъекты РФ)

                a(href='') Решение вопросов связанных с правоохранительными органами


